table {
    width: auto;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

.centered {
    display: flex;
    justify-content: center;
    width: 100%;
}

.side_margin {
    margin: 0 10px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

h1 {
    text-align: center;
}