<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/certain-object.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
</head>
<body>
<h1>Меню</h1>
<table>
    <tbody>
    <tr>
        <th>Назва</th>
        <td>{{ menu.name }}</td>
    </tr>
    <tr>
        <th>Опис</th>
        <td>{{ menu.description }}</td>
    </tr>
    <tr>
        <th>Доступно з</th>
        <td>{{ menu.since }}</td>
    </tr>
</table>
</body>
</html>
