<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/certain-object.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати дитину</title>
</head>
<body>
<h1>Додати дитину</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="centered" style="color: red">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post">
    <table>
        <tr>
            <th><label for="first_name">Ім'я</label></th>
            <td><input id="first_name" type="text" name="first_name" required></td>
        </tr>

        <tr>
            <th><label for="last_name">Прізвище</label></th>
            <td><input id="last_name" type="text" name="last_name" required></td>
        </tr>

        <tr>
            <th><label for="birth_date">Дата народження</label></th>
            <td><input id="birth_date" type="date" name="birth_date" required></td>
        </tr>

        <tr>
            <th><label>Стать</label></th>
            <td>
                <input id="gender_male" type="radio" name="gender" value="Хлопчик" checked>
                <label for="gender_male">Хлопчик</label>
                <input id="gender_female" type="radio" name="gender" value="Дівчинка">
                <label for="gender_female">Дівчинка</label>
            </td>
        </tr>

        <tr>
            <th><label for="group">Група</label></th>
            <td><select id="group" name="group" required>
                {% for group in groups %}
                <option value="{{ group.id}}">{{ group.name + " (" + group.age_range + " р.)" }}</option>
                {% endfor %}
            </select></td>
        </tr>

        <tr>
            <th><label for="menu">Меню</label></th>
            <td><select id="menu" name="menu" required>
                {% for menu in menus %}
                <option value="{{ menu.id }}">{{ menu.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
    </table>

    <div class="centered">
        <button type="submit" class="side_margin">Додати</button>
        <button type="button" onclick="redirectTo('/')" class="side_margin">Назад</button>
    </div>

</form>
</body>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>
