<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/certain-object.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/certain-object.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логін</title>
</head>
<body>
<h1>Логін</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="centered" style="color: red">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post">
    <table>
        <tr>
            <th><label for="first_name">Ім'я</label></th>
            <td><input id="first_name" type="text" name="first_name" required></td>
        </tr>

        <tr>
            <th><label for="last_name">Прізвище</label></th>
            <td><input id="last_name" type="text" name="last_name" required></td>
        </tr>

        <tr>
            <th><label for="password">Пароль</label></th>
            <td><input id="password" type="password" name="password" required></td>
        </tr>
    </table>

    <div class="centered">
        <button type="submit" class="side_margin">Логін</button>
        <button type="button" onclick="redirectTo('/')" class="side_margin">Назад</button>
    </div>

</form>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>

