<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/certain-object.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/certain-object.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вихід</title>
</head>
<body>
<h1>Вихід</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="centered" style="color: red">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post">
    <div class="centered"><p>Ви впевнені, що хочете вийти?</p></div>
    <div class="centered">
        <button type="submit" class="side_margin">Так</button>
        <button onclick="redirectTo('/')" type="button" class="side_margin">Назад</button>
    </div>


</form>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
