<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Children Database</title>
</head>
<body>
<div class="header">
    <h1>Children Database</h1>
    <div class="profile">
        {% if current_user.is_authenticated %}
        <div>
            <span>{{ current_user.username }}</span>
            <a href="/logout">Log out</a>
        </div>
        {% endif %}

        {% if not current_user.is_authenticated %}
        <div>
            <a href="/login">Login</a>
            <a href="/register">Sign Up</a>
        </div>
        {% endif %}
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="centered" style="color: red">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Group</th>
        <th>Parent</th>
        <th>Educator</th>
        <th>Menu</th>
    </tr>
    </thead>
    <tbody>
    {% for child in children %}
    <tr>
        <td>{{ child.first_name }}</td>
        <td>{{ child.last_name }}</td>
        <td>{{ child.age }}</td>
        <td>{{ child.gender }}</td>
        <td><a href="/group/{{ child.group_id }}">{{ child.group }}</a></td>
        <td><a href="/parent/{{ child.parent_id }}">{{ child.parent_name }}</a></td>
        <td><a href="/educator/{{ child.educator_id }}">{{ child.educator }}</a></td>
        <td><a href="/menu/{{ child.menu_id }}">{{ child.menu }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
