<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/certain-object.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вихователь</title>
</head>
<body>
<h1>Вихователь</h1>
<table>
    <tbody>
    <tr>
        <th>Ім'я</th>
        <td>{{ educator.name }}</td>
    </tr>
    <tr>
        <th>Дата народження</th>
        <td>{{ educator.birth_date }}</td>
    </tr>
    <tr>
        <th>Стать</th>
        <td>{{ educator.gender }}</td>
    </tr>
    <tr>
        <th>Номер телефону</th>
        <td>{{ educator.phone }}</td>
    </tr>
    <tr>
        <th>Пошта</th>
        <td>{{ educator.email }}</td>
    </tr>
    <tr>
        <th>Кваліфікація</th>
        <td>{{ educator.qualification }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
