<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/certain-object.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Details</title>
</head>
<body>
<h1>Group Details</h1>
<table>
    <tbody>
    <tr>
        <th>Name</th>
        <td>{{ group.name }}</td>
    </tr>
    <tr>
        <th>Educator</th>
        <td>{{ group.educator }}</td>
    </tr>
    <tr>
        <th>Age range</th>
        <td>{{ group.age_range }}</td>
    </tr>
    <tr>
        <th>Size</th>
        <td>{{ group.size }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
