<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/certain-object.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Група</title>
</head>
<body>
<h1>Група</h1>
<table>
    <tbody>
    <tr>
        <th>Назва</th>
        <td>{{ group.name }}</td>
    </tr>
    <tr>
        <th>Вихователь</th>
        <td>{{ group.educator }}</td>
    </tr>
    <tr>
        <th>Вікова група</th>
        <td>{{ group.age_range }}</td>
    </tr>
    <tr>
        <th>Кількість дітей</th>
        <td>{{ group.size }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
